.background {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.heading {
  font-family: 'Roboto';
  color: #000000;
  text-align: center;
}

.search-box {
  margin-bottom: 40px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-input {
  background-color: #f1f5f9;
  color: #252627;
  border: none;
  outline: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 6px 0px 0px 6px;
  font-size: 16px;
}

.search-icon {
  background-color: #f1f5f9;
  height: 29px;
  width: 29px;
  padding: 5px;
  border-radius: 0px 6px 6px 0px;
}

.destinations-container {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .background {
    align-items: flex-start;
  }

  .destinations-container {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0px;
    flex-wrap: wrap;
  }

  .search-container {
    justify-content: flex-start;
  }
}
